/**
 * HarmonyOS Sans 字体引入
 * 参考：https://www.thyuu.com/62610/
 * 使用B站CDN
 */

/* 引入 HarmonyOS Sans Regular (400) */
@import url('https://s1.hdslb.com/bfs/static/jinkela/long/font/regular.css');

/* 引入 HarmonyOS Sans Medium (500) */
@import url('https://s1.hdslb.com/bfs/static/jinkela/long/font/medium.css');