/**
 * 右键菜单样式
 * 适配 Stellar 主题
 * 参考：https://meuicat.com/posts/25b0b30e.html
 */

/* 右键菜单容器 */
#rightMenu {
  display: none;
  position: fixed;
  width: 160px;
  height: fit-content;
  top: 10%;
  left: 10%;
  background-color: var(--card-bg);
  backdrop-filter: blur(20px) saturate(1.5);
  transform: translateZ(0);
  border: var(--border-primary);
  border-radius: 8px;
  z-index: 99994;
  box-shadow: var(--card-shadow);
  transition: border 0.3s;
  user-select: none;
}

#rightMenu:hover {
  border: var(--theme-color);
}

/* 右键菜单分组 */
#rightMenu .rightMenu-group {
  padding: 6px 6px;
}

#rightMenu .rightMenu-group:not(:nth-last-child(1)) {
  border-bottom: 1px solid var(--border-secondary);
}

#rightMenu .rightMenu-group.rightMenu-small {
  display: flex;
  justify-content: space-between;
}

#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item {
  display: flex;
  height: 40px;
  padding: 0 4px;
  align-items: center;
  transition: 0.6s;
}

/* 右键菜单项 */
#rightMenu .rightMenu-group .rightMenu-item {
  height: 30px;
  border-radius: 6px;
  transition: 0.3s;
  color: var(--text-p1);
  cursor: pointer;
}

#rightMenu .rightMenu-group .rightMenu-item * {
  height: 40px;
  line-height: 40px;
}

#rightMenu .rightMenu-group .rightMenu-item:not(:last-child) {
  margin-bottom: 4px;
}

#rightMenu .rightMenu-group .rightMenu-item:hover {
  background-color: var(--theme-color);
  color: #fff;
}

#rightMenu .rightMenu-group .rightMenu-item i {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  padding: 0 5px;
}

#rightMenu .rightMenu-group .rightMenu-item span {
  font-size: 0.9rem;
}

/* 遮罩层 */
#rightMenu-mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: 0 0;
  top: 0;
  left: 0;
  display: none;
  z-index: 998;
}

/* 响应式 */
@media (max-width: 768px) {
  #rightMenu {
    display: none !important;
  }
}
